dist
.pnp.js
.yarn/*
.github/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
target/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Golang relevant files
__debug_bin
/fivenet

/config.yaml
/.env

# Repo checkouts
/.build/

# Nuxt
.nuxt
.nitro
.cache
.output
.env

# Proto
*.proto

# Go and others code
*.go
*.json
*.yaml
*.yml
go.*
*.sql
