#
# README - BEFORE YOU START
# Make sure to replace `VIRTUAL_HOST: "example.com"` with your domain
# The first container is the NGINX Proxy which if you already have one make sure to remove this one and connect your network_mode
# See https://github.com/nginx-proxy/nginx-proxy/tree/main/docs#multiple-networks
#
# The path (volume) for the `config.yaml` expects the file to be in the same folder of your `docker-compose.yaml`
#

name: fivenet

services:
  # NGINX reverse proxy
  nginx-proxy:
    image: docker.io/nginxproxy/nginx-proxy:1.6
    container_name: nginx-proxy
    environment: {}
    ports:
      - "80:80"
      #- "443:443" # HTTPS/SSL requires additional setup https://github.com/nginx-proxy/nginx-proxy/tree/main/docs#ssl-support
    networks:
      - fivenet
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro

  # Message Queue
  nats:
    container_name: nats
    image: docker.io/library/nats:2.10.22-alpine3.20
    command:
      - --jetstream
      # If you change the user/password, you must update the FiveNet's `config.yaml` (`.nats.url`) as well
      - --user=fivenet
      - --pass=fivenet_topsecret
    # Only uncomment the ports section if you want to make NATS externally available
    #ports:
    #  - "4222:4222"
    #  - "8222:8222"
    #  - "6222:6222"
    networks:
      - fivenet
    restart: on-failure

  # FiveNet Server
  fivenet_server:
    container_name: fivenet-server
    image: ghcr.io/fivenet-app/fivenet:main
    environment:
      VIRTUAL_HOST: "example.com"
      VIRTUAL_PORT: "8080"
      VIRTUAL_PATH: "/"
    command:
      - server
    #ports:
    #  - "7070:7070" # User for metrics only
    #  - "8080:8080" # Only needed when exposing FiveNet directly
    networks:
      - fivenet
    restart: on-failure
    volumes:
      - ./config.yaml:/config/config.yaml

  # FiveNet Worker
  fivenet_worker:
    container_name: fivenet-worker
    image: ghcr.io/fivenet-app/fivenet:main
    command:
      - worker
    #ports:
    #  - "7072:7070" # User for metrics only
    networks:
      - fivenet
    restart: on-failure
    volumes:
      - ./config.yaml:/config/config.yaml

  # FiveNet Discord bot
  fivenet_discord:
    container_name: fivenet-discord
    image: ghcr.io/fivenet-app/fivenet:main
    command:
      - worker
      - --module-audit-retention=false
      - --module-centrum-bot=false
      - --module-centrum-housekeeper=false
      - --module-user-tracker=false
    #ports:
    #  - "7073:7070" # User for metrics only
    networks:
      - fivenet
    restart: on-failure
    volumes:
      - ./config.yaml:/config/config.yaml

  # Iconify - Requires an "ingress" controller (e.g., jwilder/nginx-proxy), like Traefik, that makes iconify available under `/api/icons`
  iconify:
    container_name: iconify
    image: docker.io/iconify/api:latest
    environment:
      VIRTUAL_HOST: "example.com"
      VIRTUAL_PORT: "3000"
      VIRTUAL_PATH: "/api/icons"
      ICONIFY_SOURCE: "full"
      REDIRECT_INDEX: "/about"
      ALLOW_UPDATE: "false"
      ENABLE_ICON_LISTS: "false"
      ENABLE_SEARCH_ENGINE: "false"
    #ports:
    #  - "3000:3000"
    networks:
      - fivenet
    restart: on-failure

networks:
  fivenet:
