@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    em {
        font-style: italic;
    }
}

@layer utilities {}

.documentView {
    .prose {
        * {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }

    input[type='checkbox']:checked {
        opacity: 1;
    }
}
