@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    em {
        font-style: italic;
    }
}

@layer utilities {
    /* Splitpanes Styling */
    .splitpanes__splitter {
        min-width: 3px;
        background-color: rgb(var(--color-gray-800));
    }
}

