@import 'tailwindcss';
@import "@nuxt/ui-pro";

:root {
  --ui-radius: 0.25rem;

  --ui-white: black;
}

.dark {
    --ui-white: white;
}

@theme {
  --font-sans: 'Public Sans', sans-serif;

  --animate-wiggle: wiggle 1s infinite;

  @keyframes wiggle {
    0%, 80% {
      transform: rotate(0deg);
    }
    85% {
      transform: rotate(5deg);
    }
    95% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@layer components {
    .prose p:empty::after {
        content: '\00a0'; /* non breaking space */
    }
}

@layer base {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    em {
        font-style: italic;
    }
}

html {
    scroll-behavior: smooth;
}

/* Basic Tiptap editor styles */
.tiptap {
    :first-child {
        margin-top: 0;
    }

    /* Placeholder (at the top) */
    p.is-editor-empty:first-child::before {
        color: var(--gray-4);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    p {
        word-break: break-all;
    }

    input[type='checkbox']:checked {
        opacity: 1;
    }

    ol,
    ol ol,
    ul,
    ul ul {
        li {
            margin-bottom: 0;

            p {
                margin-bottom: 0;
            }
        }
    }

    /* Drag Handle */
    .ProseMirror-noderangeselection {
        *::selection {
            background: transparent;
        }

        * {
            caret-color: transparent;
        }
    }

    .ProseMirror-selectednode,
    .ProseMirror-selectednoderange {
        position: relative;

        &::before {
            position: absolute;
            pointer-events: none;
            z-index: -1;
            content: '';
            top: -0.25rem;
            left: -0.25rem;
            right: -0.25rem;
            bottom: -0.25rem;
            background-color: #70cff850;
            border-radius: 0.2rem;
        }
    }

    /* Collaboration */
    /* Give a remote user a caret */
    .collaboration-cursor__caret {
        border-left: 1px solid #0d0d0d;
        border-right: 1px solid #0d0d0d;
        margin-left: -1px;
        margin-right: -1px;
        pointer-events: none;
        position: relative;
        word-break: normal;
    }

    /* Render the username above the caret */
    .collaboration-cursor__label {
        border-radius: 3px 3px 3px 0;
        color: #0d0d0d;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        left: -1px;
        line-height: normal;
        padding: 0.1rem 0.3rem;
        position: absolute;
        top: -1.4em;
        user-select: none;
        white-space: nowrap;
    }

    /* Task list specific styles */
    ul[data-type='taskList'] {
        list-style: none;
        margin-left: 0;
        padding: 0;
        margin: 0;

        li {
            align-items: flex-start;
            display: flex;

            >label {
                flex: 0 0 auto;
                margin-right: 0.5rem;
                user-select: none;
            }

            >div {
                flex: 1 1 auto;

                p {
                    margin-bottom: 0;
                }
            }
        }

        input[type='checkbox'] {
            cursor: pointer;
        }
    }

    span[data-type='checkboxStandalone'] {
        display: inline-flex;
    }

    /* Search And Replace */
    .search-result {
        background-color: var(--color-warn-500)60;

        &-current {
            background-color: var(--color-info-500)60;
        }
    }

    /* Table-specific styling */
    table {
        display: table;
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;

        td,
        th {
            box-sizing: border-box;
            min-width: 1em;
            padding: 6px 8px;
            position: relative;
            vertical-align: top;

            >* {
                margin-bottom: 0;
            }
        }

        th {
            font-weight: bold;
            text-align: left;
        }

        .selectedCell:after {
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            pointer-events: none;
            position: absolute;
            z-index: 2;
        }

        .column-resize-handle {
            background-color: var(--color-primary-500);
            bottom: -2px;
            pointer-events: none;
            position: absolute;
            right: -2px;
            top: 0;
            width: 4px;
        }
    }

    .tableWrapper {
        margin: 1.5rem 0;
        overflow-x: auto;
    }

    &.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }

    /* Tiptap Editor Extensions */
    .template-block {
        border-left: 1px dashed var(--color-primary-500);
        background-color: var(--color-gray-800);
        padding: 0.25rem;
        margin: 0.25rem 0;
        font-family: monospace;
    }

    .template-open,
    .template-close {
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    .template-var {
        background-color: var(--color-gray-800);
        border-radius: 4px;
        padding: 2px 2px;
        font-family: monospace;
        border: 1px dashed var(--color-primary-500);
    }

    .template-var[data-hidden='true'] {
        display: none;
    }
}
