name: Release It!

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  run-tests:
    uses: ./.github/workflows/push.yml
    secrets: inherit
    with:
      skipImageBuild: true

  run_release_it:
    runs-on: ubuntu-latest
    if: github.ref_name == github.event.repository.default_branch
    needs: [run-tests]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: ${{ secrets.GH_PAT }}
          fetch-depth: 0

      - name: Git config
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Setup PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: '.nvmrc'
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Set auth for NPM
        run: pnpm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Run release-it
        run: pnpm run release-it --ci
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
